// break point
$xxl-min: 1536px;
$xl-min: 1280px;
$lg-min: 1024px;
$md-min: 768px;
$sm-min: 640px;
$sp-min: 480px;

@mixin xxl-device {
  @media screen and (min-width: $xxl-min) {
    @content;
  }
}

@mixin xl-device {
  @media screen and (min-width: $xl-min) and (max-width: $xxl-min - 1){
    @content;
  }
}

@mixin lg-device {
  @media screen and (min-width: $lg-min) and (max-width: $xl-min - 1) {
    @content;
  }
}

@mixin md-device {
  @media screen and (min-width: $md-min) and (max-width: $lg-min - 1) {
    @content;
  }
}

@mixin sm-device {
  @media screen and (min-width: $sm-min) and (max-width: $md-min - 1) {
    @content;
  }
}

@mixin xs-device {
  @media screen and (min-width: $sp-min) and (max-width: $sm-min - 1) {
    @content;
  }
}

@mixin sp-device {
  @media screen and (max-width: $sp-min - 1) {
    @content;
  }
}

// devise-or-less size
@mixin xl-device-or-less {
  @media screen and (max-width: $xl-min - 1) {
    @content;
  }
}

@mixin lg-device-or-less {
  @media screen and (max-width: $xl-min - 1) {
    @content;
  }
}

@mixin md-device-or-less {
  @media screen and (max-width: $lg-min - 1) {
    @content;
  }
}

@mixin sm-device-or-less {
  @media screen and (max-width: $md-min - 1) {
    @content;
  }
}

@mixin xs-device-or-less {
  @media screen and (max-width: $sm-min - 1) {
    @content;
  }
}

// devise-or-more size
@mixin lg-device-or-more {
  @media screen and (min-width: $lg-min) {
    @content;
  }
}