/* colors */
$clitch-green: #16BC94;
$base-background-color: #1E2025;
$background-color-black: #191B1F;
$background-color-white: #F2F2F2;
$background-color-gray: #C4C4C4;
$box-color-gray: #33383D;
$box-color-black: #26292C;

/* sns colors */
$twitter-color: #1DA1F2;
$discord-color: #7289DA;

/* text-colors */
$text-black: #1E2025;
$text-gray: #C4C4C4;
$text-white: #F2F2F2;

/* border */
$border-gray: #C4C4C4;

/* fonts */
$font-roboto: 'Roboto', sans-serif;