/* colors */
$clitch-green: #16BC94;
$base-background-color: #1E2025;
$bacground-color-black: #191B1F;
$background-color-gray: #33383D;
$box-color-gray: #33383D;
$box-color-black: #26292C;

/* text-colors */
$text-gray: #C4C4C4;
$text-white: #F2F2F2;

/* fonts */
$font-roboto: 'Roboto', sans-serif;